
<div class='add-work section'>
    <div class="label"> <h2>New Task: </div>
    <form action="/worklog/start" method="post">
        <select name="nameee">
            <% companys.forEach(e=> { %>
                <option value="<%= e.id %>">
                    <%= e.companyName %>
                </option>
                <% }) %>
        </select>
        <textarea name="description" id="textarea_description" cols="30" rows="1"></textarea>
        <span class="current_time clock"></span>
        <button class='btn-start' type="submit">Start</button>
    </form>
</div>

<div class="active-works section">
    <div class="label"> <h2>Activ tasks: </h2></div>
    <table id="done-work-table">
        <tr>
            <th>Company</th>
            <th>Description</th>
            <th>Start</th>
            <th>Actions</th>
        </tr>
        <% tasks.forEach( e => { %>
            <tr>
                <td><%= e.company.companyName %></td>
                <td><%= e.description === undefined ? '' : e.description.slice(0, 42) %></td>
                <td><%= e.createdAtToHhMm %></td>
                <td>
                    <form action="/worklog/<%= e.id %>/stop?_method=PUT" method="POST">
                        <button type="submit">End</button>
                    </form>
                </td>
            </tr>
        <% }) %> 
    </table>
    <br>
</div>

<div class="done-works section">
    <div class="label"> <h2>Done tasks:</h2> </div>
    <table id="done-work-table">
        <tr>
            <th>Company</th>
            <th>Description</th>
            <th>Start</th>
            <th>End</th>
            <th>Actions</th>
        </tr>
        <% endedTask.forEach( e => { %>
            <tr>
                <td><%= e.company.companyName %></td>
                <td><%= e.description === undefined ? '' : e.description.slice(0, 42) %></td>
                <td><%= e.createdAt.toLocaleTimeString('pl-PL').slice(0,5) %></td>
                <td><%= e.stopedAt.toLocaleTimeString('pl-PL').slice(0,5) %></td>
                <td>
                    <button> :) </button>
                </td>
            </tr>
        <% }) %> 
    </table>
</div>